
**/.DS_Store

**/test
**/avx2_ref
**/avx2
**/jazz_x86.s
**/jazz_x86
**/jazz_avx2.s
**/jazz_avx2
**/neon_ref
**/neon
**/armv7e-m_ref
**/armv7e-m
**/jazz_armv7e-m.s
**/jazz_armv7e-m

**/*.o
**/*.d
**/*.elf
**/*.bin
